body{
	font-family: sans-serif, Red Hat Text;
}
#one{
			background-color: #0e8abe;
			width: 50%;
			height: 100%;
			float: left;
		
		}
.one{
		width: 50px;
		padding-left:30px;
}
#logo1{
	color: #d21303;
	font-size: 20px;
	position: absolute
}
#logo2{
	font-size: 12px;
    color: white;
    position: absolute;
    top: 32px;
    left: 88px;
    letter-spacing: 2px;
}

#already{
	font-family: sans-serif;
}
		#two{
			background-color: white;
			width: 50%;
			height: 100%;
			float: right;
		}
		#move{
			text-align: center;
			padding-top: 120px;
			font-size: 13px;
		}

		#name{
			width: 350px;
    		font-size: 12px;
    		color: lightgray;
    		padding: 5px;
    		box-shadow: 0px 2px 3px lightgrey;
    		height: 24px;
    		border: none;
    		margin-left: 170px;
		}

		#psw{
			width: 350px;
    		font-size: 12px;
    		color: lightgray;
    		padding: 5px;
    		box-shadow: 0px 2px 3px lightgrey;
    		height: 24px;
    		border: none;
    		margin-left: 170px;
		}

		#email{
			width: 350px;
    		font-size: 12px;
    		color: lightgray;
    		padding: 5px;
    		box-shadow: 0px 2px 3px lightgrey;
    		height: 24px;
    		border: none;
    		margin-bottom: 27px;
    		margin-left: 170px;
		}

		h2{
			margin-left: 50px;
		}
		
		.space{
			position: absolute;
    		left: 865;
    		margin-left: 179px;
    		color: skyblue;
    		text-decoration: none;
    		margin-top: -18.0px;
    		text-align: right;
		}

		.submit{
			background-color: blue;
			color: white; 
			font-size: 20px;
			width: 18%;
			border-radius: 8px;
		}
		#dash{
			border: none;
    		padding: 5px;
    	    font-size: 12px;
   			width: 350px;
    		background-color: black;
    		color: white;
    		border-radius: 0px;
    		box-shadow: 0px 2px 2px darkgrey;
    		margin-left: 170px;
		}
		
		#tech {
			color: #c8c8d4;
    		margin: 0;
    		width: 300px;
    		margin-left: 220px;
		}
		
		.details {
			width: 350px;
			margin-top: 200px;
			color: white;
			margin-left: 150px;
			
		}
		
		#line {
			line-height: 1.4px;
		}
		
		#button {
			background: none;
    		width: 150px;
    		height: 25px;
    		color: white;
    		border-color: white;
    		border-radius: 5px;
    		border-width: 1px;
    		border-bottom-color: white;
		}
		
		#register {
			background-color: white ;
			border-radius: 25px;
			width: 320px;
			height: 390px;
			margin: 10px;
			margin-left: 400px
			border: none;
			text-align: 12px;
			padding: 10px;
			padding-top:2px;
		}

		#accept{
			margin-left: 160px;
    		margin-top: 25px;
    		width: 300px;
			
		}
		#checkbox{
			margin-left: 0px;
    		margin-top: -5px;
    		width: 13px;
    		position: relative;
    		left: -130px;
		}
		#iaccept{
			margin-top: -17px;
    		color: #8e8e8e;
    		margin-left: 170px;
    		width: 150px;
    		position: absolute;
    		left: 725px;
    		text-align: left;
		}